nav {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  height: 85px;
  background-color: white;
  line-height: 75px;
  position: fixed;
  padding-right: 30;
  z-index: 1;
}

nav .logo {
  float: left;
  font-size: 30px;
  font-weight: bold;
  color: #473c3c;
  margin-top: 10px;
}

nav .logo img {
  height: 40px;
  width: 60px;
  padding-left: 15px;
}

nav a {
  color: #356de5;
  font-size: 20px;
}

nav a:hover {
  color: white;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin-left: 20px;
}

nav ul li:hover {
  color: white;
  background-color: #356de5;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.button {
  background-color: #989caf;
  color: black;
  padding: 5px 20px;
  border-radius: 2px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #356de5;
}

.example {
  color: white;
}

.article1 {
  margin: auto;
  width: 60%;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 30px;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.5px;
  border-color: #e5e7ee;
}

.article1 p {
  color: black;
}

.article1:hover {
  cursor: pointer;
  background-color: #e5e7ee;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article2 {
  margin: auto;
  width: 60%;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 30px;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.5px;
  border-color: #e5e7ee;
}

.article2 p {
  color: black;
}

.article2:hover {
  cursor: pointer;
  background-color: #e5e7ee;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article3 {
  margin: auto;
  width: 60%;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 30px;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.5px;
  border-color: #e5e7ee;
}

.article3 p {
  color: black;
}

.article3:hover {
  cursor: pointer;
  background-color: #e5e7ee;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.art1 {
  background-color: #edeef4;
}

.art2 {
  background-color: #edeef4;
}

.art3 {
  background-color: #edeef4;
}

.contact {
  width: 100%;
  background-color: #356de5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.2px;
}

.contact h2 {
  color: white;
  font-size: 50px;
  margin-top: 20px;
}

.contact p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.article0 {
  width: 100%;
  height: 300px;
  background-color: #356de5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 045px;
}

.article0 h2 {
  color: white;
  font-size: 50px;
  margin-top: 20px;
}

.article0 p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.foot {
  background-color: #356de5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot h2 {
  color: white;
  font-size: 20px;
  margin-top: 50px;
}

.foot a {
  color: wheat;
}

.foot p {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.input-box {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-box-message {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */