@import '../navbar';
@import '../variables';
@import '../buttons';
*{
  font-family: $font-stack;  
  margin: 0;
  
}



.button{
@include button-design;
}
// demonstrating mixin to design articles border
.example{
  
color: white
}
.article1{
  @include centre-items;//_variables.scss
 @include article-border($bordercolor);
 @include article-hover;
}
.article2{
  @include centre-items; //_variables.scss
 @include article-border($bordercolor);
 @include article-hover;
}
.article3{
  @include centre-items; //_variables.scss
 @include article-border($bordercolor);
 @include article-hover;
}


.art1{
background-color: $sectionColor;

}
.art2{
  background-color: $sectionColor;
  
}
.art3{
  background-color: $sectionColor;
  
}

.contact{
  width: 100%;
  background-color: rgb(53, 109, 229);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.2px;
  h2{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 20px;
  }
  p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
}

.article0{
  
  width: 100%;
  height: 300px;
  background-color: rgb(53, 109, 229);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 045px;
  h2{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 20px;
  }
  p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }

}



.foot
{
  background-color: $primcolor;
  width: 100%;
  display: flex;
  color: white;
  align-items:center;

    h2{
      color: white;
      font-size:20px;
      margin-top: 50px;
    }
    a{
      color: wheat;
    }
    p{
      color: white;
      font-size: 20px;
      margin-top: 20px;
    }
  }

  .input-box{
    @include input-bar
  }
.input-box-message{
  @include input-message-box
}
