@import '../variables';
@import '../buttons';

*{
    font-family: $font-stack;
    background-image: $header-image;
}

.main_page{
    float: left;
}
.inp{
    @include input-bar;
}

.btn{
    @include button-design;
}

.subject{
@include input-message-box;
}