$primarybtn : rgb(152, 156, 175);
$secondarybtn : rgb(53, 175, 39);
$navTextColor : white;
$font-stack: Helvetica, sans-serif;

@mixin article-border($color){
    padding: 30px;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.5px;
  border-color: $color;
} 

@mixin button-design {
    
}