$primarybtn : rgb(152, 156, 175);
$primcolor: rgb(53, 109, 229);
$secondarybtn : rgb(53, 109, 229);
$sectionColor:rgb(237, 238, 244);
$navTextColor : white;
$bordercolor: rgb(229, 231, 238);
$font-stack: 'Roboto', sans-serif;
$header-image: url("../assets/images/img-1.jpg");

@mixin article-border($color){
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.5px;
  border-color: $color;
  p{
      color: black;
  }
} 

@mixin centre-items {
    margin: auto;
    width: 60%;
    padding: 10px;
}